.grid {
    display: grid;
    height: 100vh;
    grid-gap: 10px;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 1fr 70px;
    grid-template-columns: repeat(8, 1fr);
}

.grid div {
    padding: 1.2rem;
    background-color: rgb(129, 248, 99);
}

.header {
    grid-column: 1/9;
    grid-row: 1;
}

.footer {
    grid-column: 1/9;
    grid-row: 8;
}

.nav {
    grid-column: 1;
    grid-row: 2/8;
}

.article {
    grid-column: 2/9;
    grid-row: 2/6;
}

.ads {
    grid-column: 2/9;
    grid-row: 6/8;
}

@media (max-width: 575px) {
    .grid {
        display: grid;
        height: 100vh;
        grid-gap: 10px;
        grid-template-rows: 80px 70px 1fr 1fr 1fr 1fr 1fr 70px;
        grid-template-columns: repeat(8, 1fr);
    }
    .nav {
        grid-column: 1/9;
        grid-row: 2;
    }
    .article {
        grid-column: 1/9;
        grid-row: 3/6;
    }
    .ads {
        grid-column: 1/9;
        grid-row: 6/8;
    }
}